<!DOCTYPE html>
<html>
  	<head>
		<title>MiniTweet VT | Home</title>
	</head>
	
	<body>
		<h1>MiniTweet</h1>
			<p>
				Home de MiniTweet. Desarrollado por 
				<a href="http://www.visionartech.net">VisionAR</a>.
			</p>
	</body>
</html>
