<footer class="footer">
	<small>
		<a href="http://www.visionartech.net/">VisionAR</a>
  	</small>
  	<nav>
		<ul>
			<li><%= link_to "Sobre VT", about_path %></li>
			<li><%= link_to "Contactos", contact_path %></li>
		</ul>
	</nav>
</footer>